body{
    display: flex
    
}
#h2 {
        color: brown;
        text-decoration: underline;
}
P{
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    color: aqua;
    
}
.kiki {
    display: flex;
    justify-content: center;
}
#demo {
    color: brown;
    text-align: center;
}
button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(236, 226, 226);
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    
}
#increment-btn {
    background-color: brown;
}
#save-btn {
    background-color: aqua;
    margin-left: auto;
}
.lolo{
    display: flex;
    margin: auto;
}
.bodi{
    margin: auto;
    border: solid 2px;
    border-radius: 10px;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/667/932/920/artwork-fantasy-art-concept-art-smoke-wallpaper-preview.jpg);
    border-color: chocolate;
}
#gavel{
    display: flex;
    justify-content: center;
}
